<div class="c-contact-header">
  <div class="c-search-section">
    <div class="c-search input-group">
      <span class="material-icons">search</span>
      <input type="text" placeholder="Search" class="c-search">
    </div>
  </div>
  <div class="c-profile dropdown">
    <div class="c-name">{{loggedInUser}}</div>
    <div class="c-photo">
      <img class="c-image" src="http://www.fillmurray.com/200/200">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a routerLink="Vlocity">My Profile</a></li>
      </ul>
    </div>
  </div>
</div>

